h2{
        display: flex;
        align-items: center;
        gap: 8px;
        text-align: left;
        }

        h2 span {
        position: relative;
        display: inline-block;
        color: rgb(43, 3, 117);
        overflow: hidden;
        height: 1.25em;
        width: 20ch;
        white-space: nowrap;
        }

        h2 span span {
        display: block;
        animation: anim 10s infinite ease;
        }

        @keyframes anim {
        0% { transform: translateY(0%); }
        20% { transform: translateY(-100%); }
        40% { transform: translateY(-200%); }
        60% { transform: translateY(-300%); }
        80% { transform: translateY(-400%); }
        100% { transform: translateY(0%); }
        }
