@keyframes ticker {
 
  20% { transform: translateY(-100%); }
  30% { transform: translateY(-100%); }
  40% { transform: translateY(-200%); }
  50% { transform: translateY(-200%); }
  60% { transform: translateY(-300%); }
  70% { transform: translateY(-300%); }
  80% { transform: translateY(-400%); }
  90% { transform: translateY(-400%); }
  100% { transform: translateY(0%); }
}